h1 {
  display: block;
}
h1 > span {
  color: orange;
}
.shapes div {
  width: 4rem;
  height: 4rem;
  margin: 0.2rem;
  border: 2px solid black;
}
.cl {
  /* top-left | top-right | bottom-right | bottom-left */
  /* (first radius values) / top-left-and-bottom-right | top-right-and-bottom-left */
  border-radius: 50%;
  background-color: yellow;
}
.sp {
  background-color: green;
}
.rq {
  width: 8rem;
  background-color: blue;
}
.tra {
}
