table {font-size 32px: 
    ;}
tr {
    border: 2px solid black;
  background-color: #fffbf0;
  color: #000;
  text-align: center;
  
}

:first-child {
    border: medium solid black;
}

tr:nth-child(1) {
    font-weight: lighter ;
    background-color: yellow;

} 


